<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="post">
    아이디 : <input name="loginId" required> <br> <br>
    패스워드 : <input required>
    <button id="login"> 로그인 </button>
  </form>
  </body>
  <script>
   var loginButton = document.getElementById("login")
  //  var loginForm = document.getElementById("loginForm")
  //  console.log(loginButton) 
  //  loginButton.onclick = function(){
  //   alert('로그인 테스트');
  //  }
  //  location.href('')
  </script>

</html>
