<style>
    a:hover {
  background-color: greenyellow;
}
</style>

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li data-filter="*" onclick="location.href='product'" <% if (productDiv == "") { %> class="active" <%}%> >All</li>
                        <li data-filter=".과일" onclick="location.href='product?productDiv=과일'" <% if (productDiv == "과일") { %> class="active" <%}%> >과일</li>
                        <li data-filter=".채소" onclick="location.href='product?productDiv=채소'"<% if (productDiv == "채소") { %> class="active" <%}%> >채소</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row featured__filter">
            <% for(i=0; i < productList.length; i++){%>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic " style="background-image: url('../../<%=productList[i].PRODUCT_IMG%>');">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#"><%=productList[i].PRODUCT_NAME%></a></h6>
                            <h5><%=productList[i].PRODUCT_PRICE%></h5>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>

    </div>
</section>